.title {
  margin: 0 $gutter;
  color: $text-form-title;
  font-size: 1.2rem;
  font-weight: 900;
}

.form {
  margin: $gutter;
  box-shadow: $shadow;
  overflow: auto;
}

.form__item {
  margin: 0 $gutter * 2;
}

.form-input {
  width: calc(100% - 2.4rem);
  margin: 0 $gutter * 2;
  padding: $gutter 0;
  border: 0;
  border-bottom: 1px solid $form-border;

  &:focus {
    outline: none;
  }
}

.form-submit {
  display: flex;
  justify-content: flex-end;

  &__button {
    margin: $gutter;
    border: 0;
    background: none;
    color: $brand-blue;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.form-delete {
  display: flex;
  justify-content: space-around;

  &__button {
    margin: $gutter;
    border: 0;
    background: none;
    color: $brand-red;
    text-transform: uppercase;
    cursor: pointer;
  }
}
