.nav-container {
  background: $brand-blue;
}

.header-container__items {
  display: flex;
  align-items: center;
}

.header-item {
  margin: 0 0.5rem;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  color: $title-white;
}

.todo__menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  overflow: auto;
}

.todo-title {
  min-width: 34%;
  border-bottom: 2px solid transparent;
  text-align: center;

  &:hover {
    border-bottom: 2px solid $brand-yellow;
    background: darken($brand-blue, 10%);
  }
}

.list-title {
  vertical-align: middle;
}

.add-list {
  min-width: 10rem;
  margin: 0;
  border-bottom: 2px solid transparent;
  color: $title-white;
  text-align: center;

  &:hover {
    border-bottom: 3px solid $brand-yellow;
    background: darken($brand-blue, 10%);
  }
}
