.nav {
  width: 100%;
  background-color: $brand-blue;
  color: $title-white;
  box-shadow: 0 40px 25px $brand-text;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin: 0 1rem;

  &__title {
    margin: 0.8rem;
  }
}

.nav-bottom {
  display: flex;
  background-color: $brand-blue;
}

.nav-list {
  display: flex;
  width: 100%;
  margin: 0;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }


  &__item {
    flex-grow: 1;
    min-width: 10rem;
    flex-shrink: 1;
    align-self: flex-end;
    border-bottom: 3px solid $brand-blue;
    color: darken($title-white, 15%);
    padding-top: 1rem;
    text-align: center;
  }
    :focus {
      border-bottom: 3px solid $brand-yellow;
      background: $hover-color;
      color: $title-white;
    }
}

.add-new {
  width: 15%;
  margin: 0 0.8rem;
}
