@import "variables";
@import "yoga";
@import "topnav";
@import 'newlist';
@import 'listdetails';

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();
body {
  margin: 0;
  font-family: Roboto;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
