
<div class="newlist-container">
  <h2 class="newlist__title">Add new List</h2>
  <form class="newlist__form" {{action saveList model on="submit"}}>
    {{input class="newlist__form__input" type="text" placeholder="Input Item" value=model.title }}
    <button class="accept">ACCEPT</button>
  </form>
</div>
